* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: black;
}

.nav-link {
  border: 1px solid;
  border-color: #fbffff;
  margin: 0px;
}

.nav-link,
.nav-text {
  color: #fbffff;
  background-color: black;
}

.nav-link:hover,
.nav-link:hover .nav-text {
  color: black;
  background-color: #fbffff;
}
