* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: black;
}

.nav-text, .nav-link {
  color: #008C00;
  background-color: black;
}

.nav-text:hover, .nav-link:hover {
  color: black;
  background-color: #008C00;
}